@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "abstractions/faux-columns";
@import "abstractions/clearfix";
@import "variables/breakpoints";

.l-region {
  @include box-sizing(border-box);
}

@media #{$desk-only} {

  // 3-column assymetrical grid w/ fixed 40px gutters between columns.
  @include add-grid(5 8 8);
  @include add-gutter(40px);
  @include add-gutter-style('split'); // gutter is split between left and right of each col.

  @include layout(5 8 8) {
    .panel-grid-sidebar-left {
      //@include background-grid($color: blue);
      @include clearfix;
      position: relative; // Needed for faux-column.
    }

    .panel-grid-sidebar-left .content-bottom {
      clear: both;
    }

    // Span 1 column, starting at the 1st column
    .l-region--sidebar-left {
      @include grid-span(1, 1);
      padding-left: 0; // kill left rail gutter.
      clear: left;

      // Full-height faux-column for adding a background color in the theme.
      $left: column-span(0, 1); // Span 0 columns, starting from 1st column.
      $width: column-span(1, 1); // Span 1 column, starting from 1st column.
      @include faux-column($left, $width/* , #eee */);
    }

    .l-region--main-column {
      max-width: 50em;
    }

    // Span 2 columns, starting at the 2nd column
    .with-sidebar-left .l-region--main-column {
      max-width: none;
      @include grid-span(2, 2);
      padding-right: 0; // kill right rail gutter.

      // Full-height faux-column for adding a background color in the theme.
      $left: column-span(1, 1); // Span 1 columns, starting from 1st column.
      $width: column-span(2, 2); // Span 2 columns, starting from 2nd column.
      @include faux-column($left, $width/* , #ddd */);
    }
  }

  // Adjust this nested grid for a three column grid layout.
  @include layout(8 8) {

    .l-region--content-top-left {
      @include grid-span(1, 1);
      clear: left;
    }
    .l-region--content-top-right {
      @include grid-span(1, 2);
      clear: right;
    }
    .l-region--content-middle-left {
      @include grid-span(1, 1);
      clear: left;
    }
    .l-region--content-middle-right {
      @include grid-span(1, 2);
      clear: right;
    }
    .l-region--content-bottom-left {
      @include grid-span(1, 1);
      clear: left;
    }
    .l-region--content-bottom-right {
      @include grid-span(1, 2);
      clear: right;
    }
  }
}

@media #{$palm-lap-only} {
  // Don't add padding on elements at the bottom of a region because the regions
  // take care of spacing.
  .l-region--sidebar-left .panel-pane:last-child p {
    margin-bottom: 0;
  }
}
