@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?kv2ad1');
	src:url('fonts/icomoon.eot?#iefixkv2ad1') format('embedded-opentype'),
		url('fonts/icomoon.woff?kv2ad1') format('woff'),
		url('fonts/icomoon.ttf?kv2ad1') format('truetype'),
		url('fonts/icomoon.svg?kv2ad1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-todo:before {
	content: "\e600";
}
.icon-start:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e602";
}
.icon-printer:before {
	content: "\e603";
}
.icon-news:before {
	content: "\e604";
}
.icon-more:before {
	content: "\e605";
}
.icon-hours:before {
	content: "\e606";
}
.icon-help:before {
	content: "\e607";
}
.icon-copy:before {
	content: "\e608";
}
.icon-cash:before {
	content: "\e609";
}
.icon-arrow-right:before {
	content: "\e60a";
}
.icon-home:before {
	content: "\e60b";
}
.icon-email:before {
	content: "\e60c";
}
.icon-telephone:before {
	content: "\e60d";
}
.icon-specialist:before {
	content: "\e60e";
}
.icon-calendar:before {
	content: "\e60f";
}
