div.panel-pane.pane-page-site-alert {
  width: 100%;
  overflow: visible;
  font-weight: bold;
  line-height: 2em;
}

div.panel-pane.pane-page-site-alert div.text {
  padding: 10px 10px 10px 45px;
  margin: 0px;
  font-size: 18px;
}

div.panel-pane.pane-page-site-alert div.low {
  background: #F3EAAC;
  border: 1px solid #CC9E9F;
  background-image: url('icon-alert.png');
    background-repeat: no-repeat;
    background-size:30px 30px;
    background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div.panel-pane.pane-page-site-alert div.high {
  max-height: 44px;
  background: #EDD5D6;
  border: 1px solid #B45F61;
  background-image: url('icon-alert.png');
    background-repeat: no-repeat;
    background-size:30px 30px;
    background-position: 1% 50%;
  margin-bottom: 1.5em;
}

div#edit-alerts-start.date-padding {
  padding: 0px;
}

div#edit-alerts-expire.date-padding {
  padding: 0px;
}
