.l-page {
  min-width: 768px;
}

.l-header,
.l-navigation,
.l-main,
.l-highlighted,
.l-colophon,
.l-footer {
  *zoom: 1;
  max-width: 964px;
  _width: 964px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1004px;
  _width: 1004px;
}
.l-header:after,
.l-navigation:after,
.l-main:after,
.l-highlighted:after,
.l-colophon:after,
.l-footer:after {
  content: "";
  display: table;
  clear: both;
}

.l-region--branding {
  width: 17.02128%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

.l-region--header {
  width: 80.85106%;
  float: right;
  margin-right: 0;
  *margin-left: -20px;
  display: inline;
}

.l-region--colophon-first {
  width: 62.5%;
  float: left;
  margin-right: 0%;
  display: inline;
  padding-left: 0%;
  padding-right: 6.25%;
}

.l-region--colophon-second {
  width: 18.75%;
  float: left;
  margin-right: 0%;
  display: inline;
  padding-left: 3.75%;
  padding-right: 0%;
}

.l-region--colophon-third {
  width: 18.75%;
  float: right;
  margin-right: 0;
  *margin-left: 0px;
  display: inline;
  padding-left: 3.75%;
  padding-right: 0%;
}
