@import "variables/breakpoints";
@import "abstractions/clearfix";

.l-header,
.l-navigation,
.l-main,
.l-highlighted,
.l-colophon,
.l-footer {
  max-width: 1004px; // Override default width calculations.
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  @include clearfix;
}

@media #{$mobile-header} {
  .l-header,
  .l-navigation {
    padding: 0;
  }
}

// This output was produced by susy 1, but we've removed susy from the project
// because it was only used here.  I was unable to achieve the same grid layout
// for these elements with either susy 2 nor singularity, so opted to leave the
// generated code with percentages from susy 1 and remove the dependency bloat.
@media #{$desk-only} {

  .l-region--branding {
    width: 17.02128%;
    float: left;
    margin-right: 2.12766%;
    display: inline;
  }

  .l-region--header {
    width: 80.85106%;
    float: right;
    display: inline;
  }

  .l-region--colophon-first {
    width: 62.5%;
    float: left;
    display: inline;
    padding-right: 6.25%;
  }

  .l-region--colophon-second {
    width: 18.75%;
    float: left;
    display: inline;
    padding-left: 3.75%;
  }

  .l-region--colophon-third {
    width: 18.75%;
    float: right;
    display: inline;
    padding-left: 3.75%;
  }
}
