@import "singularitygs";
@import "abstractions/faux-columns";

// 3-column assymetrical grid w/ fixed 30px gutters between columns.
$grid: 11 5;
$gutters: 40px;
$gutter-styles: 'split'; // gitter is split between left and right of each col.

.l-region {
  @include box-sizing(border-box);
}

/**
 * Main columns and separators.
 */
@include layout($grid) {
  .panel-homepage {
    //@include background-grid($color: blue);
    @include clearfix;
    position: relative; // Needed for faux-column.
  }

  .homepage-top {
    padding-top: 25px;
  }
  .homepage-top, .homepage-bottom {
    clear: both;
  }

  // Span 1 column, starting at the 1st column
  .homepage-top-left,
  .l-region--bottom-left {
    @include grid-span(1, 1);
    padding-left: 0; // kill left rail gutter.

    // Full-height faux-column for adding a background color in the theme.
    $left: column-span(0, 1); // Span 0 columns, starting from 1st column.
    $width: column-span(1, 1); // Span 1 column, starting from 1st column.
    @include faux-column($left, $width/* , #eee */);
  }

  // Span 1 column, starting at the 2nd column
  .homepage-top-right-sidebar,
  .l-region--bottom-right {
    @include grid-span(1, 2);
    padding-right: 0; // kill right rail gutter.

    // Full-height faux-column for adding a background color in the theme.
    $left: column-span(1, 1); // Span 1 columns, starting from 1st column.
    $width: column-span(1, 2); // Span 1 columns, starting from 2nd column.
    @include faux-column($left, $width/* , #ddd */);
  }
}

/**
 * Embedded regions inside columns.
 */

// Adjust this nested grid for a two column layout.
@include layout(2) {
  // Span 1 column, starting at the 1st column
  .l-region--top-left-bottom-left {
    @include grid-span(1, 1);
    padding-left: 0;
  }

  // Span 1 column, starting at the 1st column
  .l-region--top-left-bottom-right {
    @include grid-span(1, 2);
    padding-right: 0;
  }
}