@import url(../fonts/stylesheet.css);
@import url(../icons/style.css);
/* No files to import found in abstractions/**\/* */
/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Responsive images for IE8. */
@media \0screen {
  img {
    width: auto;
  }
}
html {
  font-family: "AkzidenzGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2d2f35;
}

a {
  color: #3283be;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* UCLA Library custom Iconfont */
[class^="icon-"]:before, [class*=" icon-"]:before {
  vertical-align: middle;
}

.l-main-wrapper {
  padding: 14px 0 25px;
}

.l-footer-wrapper {
  background: #ececec;
  color: #2d2f35;
  padding: 50px 0;
}

.l-footer a, .l-footer a:visited {
  color: #3283be;
  font-weight: bold;
}
.l-footer a:hover, .l-footer a:active, .l-footer a:focus {
  text-decoration: underline;
}
.l-footer ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.l-footer li {
  margin: 0.5em 0;
}
.l-footer h1,
.l-footer h2,
.l-footer h3 {
  margin-top: 0;
}

.l-region--footer-first {
  border-right: 1px solid #a2a2a2;
}

.l-region--footer-second,
.l-region--footer-third {
  padding-top: 2.6em;
}

.l-header-wrapper {
  background: #3283be;
  font-size: 13px;
  font-weight: bold;
  padding: 0;
}

.l-header a, .l-header a:visited {
  color: white;
}
.l-header a:hover, .l-header a:active, .l-header a:focus {
  text-decoration: underline;
}
.l-header .menu {
  margin: 0;
  padding: 0;
  border: 0;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  list-style: none;
  list-style-image: none;
}
.l-header .menu:before, .l-header .menu:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.l-header .menu:after {
  clear: both;
}
.l-header .menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.l-header .menu li:first-child, .l-header .menu li.first {
  padding-left: 0;
}
.l-header .menu li:last-child {
  padding-right: 0;
}
.l-header .menu li.last {
  padding-right: 0;
}
.l-header .menu .leaf {
  margin: 0;
  list-style-image: none;
  list-style-type: none;
}
.l-header .menu .leaf a {
  padding-right: 4px;
}
.l-header .menu .leaf:after {
  content: " | ";
}
.l-header .menu .leaf.last:after {
  content: "";
}
.l-header .menu .leaf.last:after a {
  padding-right: 0;
}

.l-region--branding {
  padding-top: 14px;
}

.l-region--header {
  text-align: right;
}
.l-region--header .panel-pane {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: -4px;
}

/* Skip to main content link */
a[href="#main-content"] {
  background: black;
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px 0;
  font-size: 1.3em;
  color: white;
  font-weight: normal;
}

.l-highlighted-wrapper {
  background: #eff3f4;
  padding: 14px 0;
}

.l-navigation-wrapper {
  background: #d7d9da;
  font-size: 18px;
}

.l-navigation .l-region {
  padding: 16px 0;
}
.l-navigation ul.primary-links {
  margin: 0;
  padding: 0;
  border: 0;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  list-style: none;
  list-style-image: none;
}
.l-navigation ul.primary-links:before, .l-navigation ul.primary-links:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.l-navigation ul.primary-links:after {
  clear: both;
}
.l-navigation ul.primary-links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.l-navigation ul.primary-links li:first-child, .l-navigation ul.primary-links li.first {
  padding-left: 0;
}
.l-navigation ul.primary-links li:last-child {
  padding-right: 0;
}
.l-navigation ul.primary-links li.last {
  padding-right: 0;
}
.l-navigation ul.primary-links > li {
  padding: 0;
  margin: 0 1px 0 0;
  list-style-image: none;
  list-style-type: none;
}
.l-navigation ul.primary-links > li a {
  padding: 16px 30px;
  line-height: 1.2em;
}
.l-navigation ul.primary-links > li a,
.l-navigation ul.primary-links > li a:visited {
  color: #333333;
}
.l-navigation ul.primary-links > li.active-trail > a, .l-navigation ul.primary-links > li.active-trail > a:hover {
  background: #eff3f4;
  color: #3283be;
  text-decoration: none;
}
.l-navigation ul.primary-links > li a:hover,
.l-navigation ul.primary-links > li a:active,
.l-navigation ul.primary-links > li a:focus {
  color: black;
  text-decoration: underline;
}
.l-navigation ul.primary-links > li.active-trail > a:hover {
  cursor: normal;
}
.l-navigation ul.primary-links > li.first a {
  text-indent: -999px;
  width: 0;
  display: inline-block;
  float: left;
  overflow: hidden;
  padding: 0 50px 0 0;
}
.l-navigation ul.primary-links > li.first a:after {
  font-family: uclalib;
  content: "\e600";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  text-indent: 954px;
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
}
.l-navigation ul.primary-links > li.first.active-trail a, .l-navigation ul.primary-links > li.first.active a,
.l-navigation ul.primary-links > li.first a.active,
.l-navigation ul.primary-links > li.first a:active,
.l-navigation ul.primary-links > li.first a:hover,
.l-navigation ul.primary-links > li.first a:focus {
  background: transparent;
  color: #3283be;
}

.pane-ask-a-librarian {
  border-radius: 3px;
  background: #fdb930;
  padding: .4em .5em .6em;
  position: relative;
}
.pane-ask-a-librarian p {
  margin: 0;
  padding: 0;
}
.pane-ask-a-librarian a {
  color: white;
  text-shadow: 0 1px 1px #666666;
}
.pane-ask-a-librarian a, .pane-ask-a-librarian a:hover, .pane-ask-a-librarian a:active, .pane-ask-a-librarian a:focus {
  text-decoration: none;
}
.pane-ask-a-librarian a span {
  font-size: 16px;
}

.pane-ask-a-librarian:before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 1.5em;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fdb930 transparent;
  border-width: 0 .7em .7em 0;
}

.header-search-form-wrapper .form-type-textfield {
  margin: 1em -4px 1.3em 0;
  display: inline-block;
}
.header-search-form-wrapper .form-actions {
  margin: 1em 0 1.3em;
  display: inline-block;
}
.header-search-form-wrapper .form-text {
  border: none;
  background: #fff;
  padding: .5em .6em .4em;
  font-weight: 100;
}
.header-search-form-wrapper .form-submit {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: .5em .6em .4em;
  background: white url(../images/icon-search.png) no-repeat 50% 50%;
  text-decoration: none;
  font-weight: 100;
  text-indent: -999em;
  width: 30px;
}
.header-search-form-wrapper .form-submit:hover,
.header-search-form-wrapper .form-submit:active,
.header-search-form-wrapper .form-submit:focus {
  background-image: url(../images/icon-search-hover.png);
}

.pane-start-your-research a, .pane-start-your-research a:visited {
  display: inline-block;
  background: #3283be;
  color: #fff;
  padding: 16px;
  font-size: 30px;
  font-weight: 100;
}
.pane-start-your-research a span, .pane-start-your-research a:visited span {
  font-size: 31px;
}
.pane-start-your-research a:hover, .pane-start-your-research a:focus, .pane-start-your-research a:active {
  text-decoration: none;
  background: #529cd1;
}
