@import url(../fonts/stylesheet.css);
/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Responsive images for IE8. */
@media \0screen {
  img {
    width: auto;
  }
}
/**
 * Base styles for panel pane titles.
 */
.pane-title {
  font-size: 19px;
  font-weight: 100;
}

.inline-pane-title > .pane-title {
  display: inline-block;
}

html {
  font-family: "AkzidenzGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2d2f35;
}

a {
  color: #3283be;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* UCLA Library custom Iconfont */
[class^="icon-"]:before, [class*=" icon-"]:before {
  vertical-align: middle;
}

.l-colophon-wrapper {
  background: #ececec;
  color: #2d2f35;
  padding: 50px 0;
}

.l-colophon {
  font-size: 12px;
}
.l-colophon a, .l-colophon a:visited {
  color: #3283be;
  font-weight: bold;
}
.l-colophon a:hover, .l-colophon a:active, .l-colophon a:focus {
  text-decoration: underline;
}
.l-colophon .menu {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.l-colophon .menu .leaf {
  margin: 0.5em 0;
  list-style: none;
  list-style-image: none;
}
.l-colophon h1,
.l-colophon h2,
.l-colophon h3 {
  margin-top: 0;
}

.l-region--colophon-first {
  border-right: 1px solid #a2a2a2;
}

.l-region--colophon-second,
.l-region--colophon-third {
  padding-top: 2.6em;
}

.l-footer-wrapper {
  background: #3283be;
  color: white;
  font-size: 12px;
}

.l-region--footer {
  padding: 22px;
  text-align: center;
}

.l-footer ul.menu {
  list-style-type: none;
}
.l-footer ul.menu, .l-footer ul.menu li {
  margin: 0px;
  padding: 0px;
  display: inline;
}

.l-footer ul.menu a {
  color: white;
}

.l-header-wrapper {
  background: #3283be;
  font-size: 13px;
  font-weight: bold;
  padding: 0;
}

.l-header a, .l-header a:visited {
  color: white;
}
.l-header a:hover, .l-header a:active, .l-header a:focus {
  text-decoration: underline;
}
.l-header .menu {
  margin: 0;
  padding: 0;
  border: 0;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  list-style: none;
  list-style-image: none;
}
.l-header .menu:before, .l-header .menu:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.l-header .menu:after {
  clear: both;
}
.l-header .menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.l-header .menu li:first-child, .l-header .menu li.first {
  padding-left: 0;
}
.l-header .menu li:last-child {
  padding-right: 0;
}
.l-header .menu li.last {
  padding-right: 0;
}
.l-header .menu .leaf {
  margin: 0;
  list-style-image: none;
  list-style-type: none;
}
.l-header .menu .leaf a {
  padding-right: 4px;
}
.l-header .menu .leaf:after {
  content: " | ";
}
.l-header .menu .leaf.last:after {
  content: "";
}
.l-header .menu .leaf.last:after a {
  padding-right: 0;
}

.l-region--branding {
  padding-top: 14px;
}

.l-region--header {
  text-align: right;
}
.l-region--header .panel-pane {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  margin-right: -4px;
}

/* Skip to main content link */
a[href="#main-content"] {
  background: black;
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px 0;
  font-size: 1.3em;
  color: white;
  font-weight: normal;
}

.l-highlighted-wrapper {
  background: #eff3f4;
}

.l-main-wrapper {
  padding: 0 0 25px;
}

.l-navigation-wrapper {
  background: #d7d9da;
  font-size: 18px;
}

.l-navigation .l-region {
  padding: 16px 0;
}
.l-navigation ul.primary-links {
  margin: 0;
  padding: 0;
  border: 0;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  list-style: none;
  list-style-image: none;
}
.l-navigation ul.primary-links:before, .l-navigation ul.primary-links:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.l-navigation ul.primary-links:after {
  clear: both;
}
.l-navigation ul.primary-links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.l-navigation ul.primary-links li:first-child, .l-navigation ul.primary-links li.first {
  padding-left: 0;
}
.l-navigation ul.primary-links li:last-child {
  padding-right: 0;
}
.l-navigation ul.primary-links li.last {
  padding-right: 0;
}
.l-navigation ul.primary-links > li {
  padding: 0;
  margin: 0 1px 0 0;
  list-style-image: none;
  list-style-type: none;
}
.l-navigation ul.primary-links > li a {
  padding: 16px 30px;
  line-height: 1.2em;
}
.l-navigation ul.primary-links > li a,
.l-navigation ul.primary-links > li a:visited {
  color: #333333;
}
.l-navigation ul.primary-links > li.active-trail > a, .l-navigation ul.primary-links > li.active-trail > a:hover {
  background: #eff3f4;
  color: #3283be;
  text-decoration: none;
}
.l-navigation ul.primary-links > li a:hover,
.l-navigation ul.primary-links > li a:active,
.l-navigation ul.primary-links > li a:focus {
  color: black;
  text-decoration: underline;
}
.l-navigation ul.primary-links > li.active-trail > a:hover {
  cursor: normal;
}
.l-navigation ul.primary-links > li.first a {
  text-indent: -999px;
  width: 0;
  display: inline-block;
  float: left;
  overflow: hidden;
  padding: 0 50px 0 0;
}
.l-navigation ul.primary-links > li.first a:after {
  font-family: uclalib;
  content: "\e600";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  text-indent: 954px;
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
}
.l-navigation ul.primary-links > li.first.active-trail a, .l-navigation ul.primary-links > li.first.active a,
.l-navigation ul.primary-links > li.first a.active,
.l-navigation ul.primary-links > li.first a:active,
.l-navigation ul.primary-links > li.first a:hover,
.l-navigation ul.primary-links > li.first a:focus {
  background: transparent;
  color: #3283be;
}

/**
 * Override jQuery UI widget default font sizes.
 */
.ui-widget {
  font-family: "AkzidenzGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

/**
 * Override jQuery UI rounded corner default styles.
 */
.ui-corner-all,
.ui-corner-top,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-right {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/**
 * Override jQuery UI tabs default styles.
 */
.ui-tabs {
  margin: 0;
  border: 0;
  padding: 0;
  background: none;
}
.ui-tabs .ui-tabs-nav {
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #adcde5;
  background: none;
}
.ui-tabs .ui-tabs-nav li {
  background: #84b5d8;
  border-color: #84b5d8;
  margin: 0 1px 0 0;
  padding: 0;
  font-weight: 100;
}
.ui-tabs .ui-tabs-nav li a {
  color: white;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  background: #3283be;
  border-color: #3283be #3283be #438ec3;
}
.ui-tabs .ui-tabs-panel {
  border-width: 0 1px 1px;
  border-color: #adcde5;
}

/* Hide more than 4 Living Library thumbnails */
.field--name-field-gallery-images .field__item:nth-child(n+5) {
  display: none;
}

div.more-link > a,
a.more-link {
  color: #3283be;
}
div.more-link > a::after,
a.more-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-top: .2em;
  border-top: .4em solid transparent;
  border-bottom: .4em solid transparent;
  border-left: 0.4em solid #3283be;
}

.pane-ask-a-librarian {
  border-radius: 3px;
  background: #fdb930;
  padding: .4em .5em .6em;
  position: relative;
}
.pane-ask-a-librarian p {
  margin: 0;
  padding: 0;
}
.pane-ask-a-librarian a {
  color: white;
  text-shadow: 0 1px 1px #666666;
}
.pane-ask-a-librarian a, .pane-ask-a-librarian a:hover, .pane-ask-a-librarian a:active, .pane-ask-a-librarian a:focus {
  text-decoration: none;
}
.pane-ask-a-librarian a span {
  font-size: 16px;
}

.pane-ask-a-librarian:before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 1.5em;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fdb930 transparent;
  border-width: 0 .7em .7em 0;
}

.pane-bean-colophon-about h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
}
.pane-bean-colophon-about h2 span {
  display: inline-block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/logo-colophon.png?1399382991');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 150px;
  height: 30px;
  vertical-align: bottom;
}

.pane-page-title h1 {
  font-size: 30px;
  font-weight: 100;
  color: #3283be;
  margin: 0.9em 0;
}

.header-search-form-wrapper .form-type-textfield {
  margin: 1em -4px 1.3em 0;
  display: inline-block;
}
.header-search-form-wrapper .form-actions {
  margin: 1em 0 1.3em;
  display: inline-block;
}
.header-search-form-wrapper .form-text {
  border: none;
  background: #fff;
  padding: .5em .6em .4em;
  font-weight: 100;
}
.header-search-form-wrapper .form-submit {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: .5em .6em .4em;
  background: white url(../images/icon-search.png) no-repeat 50% 50%;
  text-decoration: none;
  font-weight: 100;
  text-indent: -999em;
  width: 30px;
}
.header-search-form-wrapper .form-submit:hover,
.header-search-form-wrapper .form-submit:active,
.header-search-form-wrapper .form-submit:focus {
  background-image: url(../images/icon-search-hover.png);
}

.pane-bean-news-events-showcase .field-collection-container {
  border-bottom: none;
  margin-bottom: 0;
}
.pane-bean-news-events-showcase .field-collection-container .field--type-field-collection > div > .field__item {
  float: left;
  line-height: 1.1em;
  margin: 0 10px 0 0;
  text-align: center;
  width: 24.16%;
}
.pane-bean-news-events-showcase .field-collection-container .field--type-field-collection > div > .field__item > div {
  border-bottom: none;
  padding-top: 0;
  margin: 0;
}
.pane-bean-news-events-showcase .field-collection-container .field--type-field-collection > div > .field__item > div .field--name-field-showcase-image {
  margin-bottom: 4px;
}
.pane-bean-news-events-showcase .field-collection-container .field--type-field-collection > div > .field__item > div a {
  font-size: 0.875em;
}
.pane-bean-news-events-showcase .field-collection-container .field--type-field-collection > div > .field__item:last-child {
  margin: 0;
}

.pane-style-background-gray {
  background: #ccc;
  padding: 15px;
}

.pane-border-blue .pane-content {
  border: 1px solid #adcde5;
}
.pane-border-blue .pane-title {
  background: #3283be;
}
.pane-border-blue .pane-title, .pane-border-blue .pane-title a {
  color: white;
}

.pane-border-blue--inline-title {
  display: inline-block;
}

.panel-sidebar-left .l-region--sidebar-left,
.panel-using-library .l-region--sidebar-left {
  padding-left: 25px;
  padding-right: 25px;
}
.panel-sidebar-left .l-region--sidebar-left:before,
.panel-using-library .l-region--sidebar-left:before {
  background: #d7d9da;
}

.no-gray-sidebar .l-region--sidebar-left {
  padding-left: 0;
  padding-right: 20px;
}
.no-gray-sidebar .l-region--sidebar-left:before {
  background: transparent;
}

.pane-title--important-column-heading {
  background-color: transparent;
  background-image: url("../images/bg-heading-important-horiz.png"), url("../images/bg-heading-important-vert.png");
  background-position: 0 50%, 100% 50%;
  background-repeat: repeat-x, repeat-y;
}
.pane-title--important-column-heading > h2 {
  display: inline;
  background: white;
  padding-right: 10px;
  font-weight: 100;
  font-size: 30px;
  color: #3283be;
}

.cal-date {
  display: inline-block;
  margin: 0;
  padding: 2px;
  text-align: center;
  min-width: 2.3em;
  vertical-align: middle;
}

.cal-month {
  line-height: 1em;
  font-weight: bold;
}

.cal-day {
  font-size: 29px;
  font-weight: 100;
  line-height: 1em;
}

.cal-time {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em;
}

.view-upcoming-events-display .views-row {
  clear: both;
  overflow: hidden;
  display: table-row;
}
.view-upcoming-events-display .views-field {
  padding: 10px 4px;
  display: table-cell;
  vertical-align: middle;
}
.view-upcoming-events-display .views-field-field-exhibition-end,
.view-upcoming-events-display .views-field-field-event-date {
  float: left;
  margin-right: 14px;
}
