@import url(../fonts/stylesheet.css);
@import url(../icons/style.css);
/* No files to import found in abstractions/**\/* */
img, media {
  max-width: 100%;
}

html {
  font-family: "AkzidenzGrotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2d2f35;
}

a {
  color: #3283be;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* UCLA Library custom Iconfont */
[class^="icon-"]:before, [class*=" icon-"]:before {
  vertical-align: middle;
}

.l-main-wrapper {
  padding: 14px 0 25px;
}

.l-footer-wrapper {
  background: black;
  color: white;
  padding: 50px 0;
}

.l-footer a, .l-footer a:visited {
  color: #d8cfc7;
  font-weight: bold;
}
.l-footer a:hover, .l-footer a:active, .l-footer a:focus {
  text-decoration: underline;
}
.l-footer ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
.l-footer li {
  margin: 0.5em 0;
}
.l-footer h1,
.l-footer h2,
.l-footer h3 {
  margin-top: 0;
}

.l-region--footer-first {
  border-right: 1px solid #666666;
}

.l-region--footer-second,
.l-region--footer-third {
  padding-top: 2.6em;
}

.l-header-wrapper {
  background: #3283be;
  font-size: 13px;
  font-weight: bold;
  padding: 0;
}

.l-header a, .l-header a:visited {
  color: white;
}
.l-header a:hover, .l-header a:active, .l-header a:focus {
  text-decoration: underline;
}
.l-header .menu {
  margin: 0;
  padding: 0;
  border: 0;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  list-style: none;
  list-style-image: none;
}
.l-header .menu:before, .l-header .menu:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.l-header .menu:after {
  clear: both;
}
.l-header .menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.l-header .menu li:first-child, .l-header .menu li.first {
  padding-left: 0;
}
.l-header .menu li:last-child {
  padding-right: 0;
}
.l-header .menu li.last {
  padding-right: 0;
}
.l-header .menu .leaf {
  margin: 0;
  list-style-image: none;
  list-style-type: none;
}
.l-header .menu .leaf a {
  padding-right: 4px;
}
.l-header .menu .leaf:after {
  content: " | ";
}
.l-header .menu .leaf.last:after {
  content: "";
}
.l-header .menu .leaf.last:after a {
  padding-right: 0;
}

.l-region--branding {
  padding-top: 18px;
}

.l-region--header {
  text-align: right;
}
.l-region--header .panel-pane {
  display: inline-block;
  vertical-align: middle;
  margin-left: 14px;
}

.l-highlighted-wrapper {
  background: #eff3f4;
  padding: 14px 0;
}

.l-navigation-wrapper {
  background: black;
  border-bottom: 4px solid #fdb930;
  font-size: 18px;
  padding: 10px 0;
}

.l-navigation a, .l-navigation a:visited {
  color: white;
}
.l-navigation a:active, .l-navigation a:focus {
  text-decoration: underline;
}
.l-navigation ul,
.l-navigation .menu {
  margin: 0;
  padding: 0;
  border: 0;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  list-style: none;
  list-style-image: none;
}
.l-navigation ul:before, .l-navigation ul:after,
.l-navigation .menu:before,
.l-navigation .menu:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.l-navigation ul:after,
.l-navigation .menu:after {
  clear: both;
}
.l-navigation ul li,
.l-navigation .menu li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
.l-navigation ul li:first-child, .l-navigation ul li.first,
.l-navigation .menu li:first-child,
.l-navigation .menu li.first {
  padding-left: 0;
}
.l-navigation ul li:last-child,
.l-navigation .menu li:last-child {
  padding-right: 0;
}
.l-navigation ul li.last,
.l-navigation .menu li.last {
  padding-right: 0;
}
.l-navigation ul li,
.l-navigation ul .leaf,
.l-navigation .menu li,
.l-navigation .menu .leaf {
  margin: 0;
  list-style-image: none;
  list-style-type: none;
  padding-right: 50px;
}
.l-navigation ul li.last,
.l-navigation ul .leaf.last,
.l-navigation .menu li.last,
.l-navigation .menu .leaf.last {
  padding-right: 0;
}

.pane-ask-a-librarian {
  border-radius: 3px;
  background: #fdb930;
  padding: 4px 10px 6px;
  position: relative;
}
.pane-ask-a-librarian p {
  margin: 0;
  padding: 0;
}
.pane-ask-a-librarian a {
  color: white;
  text-shadow: 0 1px 1px #666666;
}
.pane-ask-a-librarian a, .pane-ask-a-librarian a:hover, .pane-ask-a-librarian a:active, .pane-ask-a-librarian a:focus {
  text-decoration: none;
}
.pane-ask-a-librarian a span {
  font-size: 16px;
}

.pane-ask-a-librarian:before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 20%;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fdb930 transparent;
  border-width: 0 .8em .8em 0;
}

.pane-search-form {
  background: #2a6d9e;
  padding: 10px;
}
.pane-search-form p {
  margin: 0;
}
.pane-search-form .btn-search {
  font-size: 31px;
}
.pane-search-form .icon-search + span {
  display: none;
}
.pane-search-form a:hover, .pane-search-form a:focus, .pane-search-form a:active {
  text-decoration: none;
}

.pane-search-form {
  position: relative;
}

.header-search-form-label {
  color: white;
  font-size: 31px;
  float: right;
}

.header-search-form-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 100%;
  height: 100%;
  padding: 0;
}
.header-search-form-wrapper .header-search-form {
  position: relative;
  height: 100%;
  padding: 0;
}
.header-search-form-wrapper .form-wrapper {
  float: right;
  width: 0%;
  height: 100%;
  background: #2a6d9e;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.is-active + .header-search-form-wrapper .form-wrapper {
  width: 100%;
}
.header-search-form-wrapper .form-type-textfield {
  margin: .8em 10px .3em;
}
.header-search-form-wrapper .form-actions {
  margin: .3em 10px .5em;
}
.header-search-form-wrapper .form-text {
  border: none;
  background: #fff;
  padding: .2em .6em;
  font-weight: 100;
}
.header-search-form-wrapper .form-submit {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: underline;
  font-weight: 100;
}

.pane-start-your-research a, .pane-start-your-research a:visited {
  display: inline-block;
  background: #3283be;
  color: #fff;
  padding: 16px;
  font-size: 30px;
  font-weight: 100;
}
.pane-start-your-research a span, .pane-start-your-research a:visited span {
  font-size: 31px;
}
.pane-start-your-research a:hover, .pane-start-your-research a:focus, .pane-start-your-research a:active {
  text-decoration: none;
  background: #529cd1;
}
