
/**
 * Base styles for panel pane titles.
 */
.pane-title {
  font-size: 19px;
  font-weight: 100;
}

.inline-pane-title {
  > .pane-title {
    display: inline-block;
  }
}

// Utility classes to hide/show panes at specific breakpoints only
$breakpoints: (palm-only, $palm-only),
(palm-lap-only, $palm-lap-only),
(lap-only, $lap-only),
(lap-desk-only, $lap-desk-only),
(desk-only, $desk-only);

%hide-by-default {
  display: none;
}
@each $classname, $breakpoint in $breakpoints {
  .#{$classname} {
    @extend %hide-by-default;
  }
  @media #{$breakpoint} {
    .#{$classname} {
      display: block;
    }
  }
}
