table {
  border: 1px solid $border-color;
  display: inline-block;
  th, tr.even {
    background: #fff;
  }
  tr.odd {
    background: $ucla-lt-gray;
    .current-day {
      background: #fed97e;
    }
  }
  th,
  td {
    border: 2px solid #fff;
    padding: 2px 5px;
    white-space: nowrap;
  }
  th + th,
  td + td {
    text-align: center;
  }
  td.current-day {
    background: #ffefc4;
  }
  .current-day {
    color: $ucla-gray;
  }
}
