table {
  border: 1px solid #ADCDE5;
  display: inline-block;
  padding-left: 1px;
  th, tr.even {
    background: #fff;
  }
  tr.odd {
    background: $ucla-lt-gray;
  }
  th,
  td {
    border: 2px solid #fff;
    padding: 2px 5px;
  }
  th + th, 
  td + td {
    text-align: center;
  }
}