
@import '../fonts/stylesheet.css';

html {
  font-family: $akzidenz;
  color: $text-color;
}

a {
  @include link-colors($ucla-blue);
  @include hover-link;
}

/* UCLA Library custom Iconfont */
[class^="icon-"]:before, [class*=" icon-"]:before {
  vertical-align: middle;
}
