.l-colophon-wrapper {
  background: $colophon-bg-color;
  color: $colophon-text-color;
  padding: 50px 0;
}
.l-colophon {
  a, a:visited {
    color: $colophon-link-color;
    font-weight: bold;
  }
  a:hover, a:active, a:focus {
    text-decoration: underline;
  }
  ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0.5em 0;
  }
  h1,
  h2,
  h3 {
    margin-top: 0;
  }
}
.l-region--colophon-first {
  border-right: 1px solid $colophon-border-color;
}
.l-region--colophon-second,
.l-region--colophon-third {
  padding-top: 2.6em;
}
.l-colophon {
  font-size: 12px;
}
