.l-header-wrapper {
  background: $header-bg-color;
  font-size: 13px;
  font-weight: bold;
  padding: 0;
}

.l-header {
  a, a:visited {
    color: $header-link-color;
  }
  a:hover, a:active, a:focus {
    text-decoration: underline;
  }
  .menu {
    @include horizontal-list;
    list-style: none;
    list-style-image: none;
    li {
      margin: 0;
      list-style-image: none;
      list-style-type: none;
      a {
        padding-right: 4px;
      }
      &:after {
        content: " | ";
      }
      &.last:after {
        content: "";
        a {
          padding-right: 0;
        }
      }
    }
    .expanded {
      .menu {
        display: none;
      }
    }
  }
}

.l-region--branding {
  padding-top: 14px;
}
.l-region--header {
  text-align: right;
  .panel-pane {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    margin-right: -4px;
  }
}

/* Skip to main content link */
a[href="#main-content"] {
  background: hsl(0, 0%, 0%);
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px 0;
  font-size: 1.5em;
  color: hsl(0, 100%, 100%);
  font-weight: normal;
}
