.l-highlighted-wrapper h1:empty {
  display: none;
}

.l-highlighted {
  @media #{$desk-only} {
    background: $content-background-gray;
  }
  @media #{$palm-lap-only} {
    text-align: center;
  }
}
