$nav-vert-space: 15px;
$nav-horiz-space: 20px;

.l-navigation-wrapper {
  background: $nav-bg-color;
  font-size: 18px;
}

.l-navigation {
  .l-region {
    padding: 14px 0 15px;
  }
  ul.primary-links {
    @include horizontal-list;
    list-style: none;
    list-style-image: none;
    display: table;
    width: 100%;
    > li {
      display: table-cell;
      float: none;
      padding: 0;
      margin: 0 1px 0 0;
      list-style-image: none;
      list-style-type: none;
      text-align: center;
      a {
        padding: $nav-vert-space $nav-horiz-space $nav-vert-space;
        line-height: 1.2em;
      }
      a,
      a:visited {
        color: $nav-link-color;
      }
      &.active-trail > a,
      &.active-trail > a:hover {
        background: $nav-bg-active-color;
        color: $nav-link-active-color;
        text-decoration: none;
      }
      a:hover,
      a:active,
      a:focus {
        color: $nav-link-hover-color;
        text-decoration: underline;
      }
      &.active-trail > a:hover {
        cursor: normal;
      }

      // Special case for first link.
      &.first {
        a {
          text-indent: -999px;
          width: 0;
          display: inline-block;
          float: left;
          margin-bottom: -4px;
          overflow: hidden;
          padding: 0 $nav-horiz-space+20px 0 0;
          &:after {
            font-family: icomoon;
            content: "\e60b";
            font-size: 20px;
            font-weight: normal;
            font-style: normal;
            text-indent: 954px;
            display: inline-block;
            line-height: 1em;
            vertical-align: middle;
          }
        }
        &.active-trail a,
        &.active a,
        a.active,
        a:active,
        a:hover,
        a:focus {
          background: transparent;
          color: $nav-link-active-color;
        }
      }
    }
  }
}
