.l-region--top {
  background: $highlighted-bg-color;
  margin: 0;
  padding: 1px 0 1em;
  position: relative;
}

.l-region--top:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background: $highlighted-bg-color;
}

.l-region--top:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: $highlighted-bg-color;
}
