
// Primary design colors
$ucla-blue: #3283be;
$ucla-yellow: #fdb930;
$ucla-gray: #666;
$ucla-lt-gray: #eff3f4;

// General content colors
$link-color: $ucla-blue;
$text-color: #2d2f35;
$icon-color: #59595c;
$border-color: #a2a2a2;

// Header section colors
$header-bg-color: $ucla-blue;
$header-text-color: #000;
$header-link-color: #fff;

// Navigation section colors
$nav-bg-color: #d7d9da;
$nav-bg-active-color: $ucla-lt-gray;
$nav-link-color: #333;
$nav-link-hover-color: #000;
$nav-link-active-color: $ucla-blue;

$highlighted-bg-color: $ucla-lt-gray;

// Footer section colors;
$footer-bg-color: #ececec;
$footer-text-color: $text-color;
$footer-link-color: $ucla-blue;
$footer-border-color: $border-color;

