
// Primary design colors
$ucla-blue: #3283be;
$ucla-lt-blue: #84b5d8;
$ucla-yellow: #fdb930;
$ucla-gray: #2d2f35;
$ucla-lt-gray: #eff3f4;

// General content colors
$link-color: $ucla-blue;
$text-color: #666;
$icon-color: #59595c;
$border-color: #adcde5;

// Header section colors
$header-bg-color: $ucla-blue;
$header-text-color: black;
$header-link-color: white;

// Navigation section colors
$nav-bg-color: #d7d9da;
$nav-bg-active-color: $ucla-lt-gray;
$nav-link-color: #333;
$nav-link-hover-color: black;
$nav-link-active-color: $ucla-blue;

// Sidebar section colors
$sidebar-bg-lt-blue: #c1daeb;

$highlighted-bg-color: $ucla-lt-gray;

// Colophon section colors;
$colophon-bg-color: #ececec;
$colophon-text-color: $nav-link-color;
$colophon-link-color: $ucla-blue;
$colophon-border-color: #a2a2a2;

// Footer section colors;
$footer-bg-color: $ucla-blue;
$footer-text-color: white;
$footer-link-color: white;
$footer-border-color: $border-color;
