
// Primary design colors
$ucla-blue: #3283be;
$ucla-yellow: #fdb930;
$ucla-gray: #666;
$ucla-lt-gray: #eff3f4;

// General content colors
$link-color: $ucla-blue;
$icon-color: #59595c;

// Header section colors
$header-bg-color: $ucla-blue;
$header-text-color: #000;
$header-link-color: #fff;

// Navigation section colors
$nav-bg-color: #000;
$nav-link-color: #fff;

$highlighted-bg-color: $ucla-lt-gray;

// Footer section colors;
$footer-bg-color: #000;
$footer-text-color: #fff;
$footer-link-color: #d8cfc7;

