
// For now, we're just using Susy 1 grid system for layout.
$total-columns: 16;
$column-width: 40px;
$gutter-width: 20px;
$grid-padding: $gutter-width;

// But design calls for a max-width of 964 pixels of usable content area, but
// the column widths and grid padding (minus gutter) add up to 940px, so we
// correct this by specifying a custom container width (and include the gutter).
$container-width: 1004px;

// Uncomment the following line to disable responsive.
//$container-style: static;
