.l-region {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.panel-sidebar-left-right {
  position: relative;
}
.panel-sidebar-left-right:after {
  content: "";
  display: table;
  clear: both;
}

.l-region--sidebar-left {
  width: 26.08696%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-left: 0;
}
.l-region--sidebar-left:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0%;
  width: 26.08696%;
  bottom: 0;
  background: "";
}

.l-region--main-column {
  max-width: 50em;
}

.with-sidebar-left .l-region--main-column {
  width: 52.17391%;
  float: left;
  margin-right: -100%;
  margin-left: 26.08696%;
  clear: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-right: 0;
}
.with-sidebar-left .l-region--main-column:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 26.08696%;
  width: 52.17391%;
  bottom: 0;
  background: "";
}

.no-sidebar-right .l-region--main-column {
  width: 73.91304%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-right: 0;
}
.no-sidebar-right .l-region--main-column:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 52.17391%;
  width: 73.91304%;
  bottom: 0;
  background: "";
}

.l-region--sidebar-right {
  width: 21.73913%;
  clear: right;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
  padding-right: 0;
}
.l-region--sidebar-right:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 78.26087%;
  width: 21.73913%;
  bottom: 0;
  background: "";
}

.l-region--below-main-left {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-left: 0;
}

.l-region--below-main-right {
  width: 50%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-right: 0;
}
