.l-region {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.panel-sidebar-left-right {
  position: relative;
}
.panel-sidebar-left-right:after {
  content: "";
  display: table;
  clear: both;
}

.l-region--sidebar-left {
  width: 23.80952%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
}
.l-region--sidebar-left:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0%;
  width: 23.80952%;
  bottom: 0;
  background: "";
}

.l-region--main-column {
  width: 47.61905%;
  float: left;
  margin-right: -100%;
  margin-left: 23.80952%;
  clear: none;
  padding-left: 15px;
  padding-right: 15px;
}
.l-region--main-column:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 23.80952%;
  width: 47.61905%;
  bottom: 0;
  background: "";
}

.l-region--sidebar-right {
  width: 28.57143%;
  clear: right;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
}
.l-region--sidebar-right:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 71.42857%;
  width: 28.57143%;
  bottom: 0;
  background: "";
}

.l-region--below-main-left {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0;
}

.l-region--below-main-right {
  width: 50%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 0;
}
