// Blue sidebar
.page-contact,
.page-locations,
.page-news,
.page-staff,
.page-news-events,
.page-search-research-find-resources {
  .l-region--sidebar-left {
    &:before {
      background: $sidebar-bg-lt-blue !important;
    }
  }
}
.sidebar-search {
  margin: 16px 0 0;
  position: relative;
  .form-type-textfield {
    margin-left: -13px;
    margin-right: 17px;
  }
  .form-text {
    background: #fff ;
    border: none;
    padding: 6px 3px;
    width: 100%;
  }
  .views-widget-filter-search_api_views_fulltext,
  .views-widget-filter-title {
    margin: 0;
    padding: 0;
  }
  .views-widget-checkboxes {
    color: $ucla-dark-gray;
    margin-left: 5px;
  }
  .views-submit-button {
    margin-left: 18px;
    input {
      margin: 0 !important;
    }
  }
  .views-widget-filter-field_staff_is_subject_librarian {
    display: none;
  }
  .views-submit-button {
    position: absolute;
    right: -13px;
    margin: 0;
    padding: 0;
  }
  .form-submit {
    background: #fff url(../images/icon-search.png) 50% 55% no-repeat;
    width: 30px;
    text-indent: -99999em;
    border: none;
    padding: 6px 6px;
    line-height: normal;
  }
}
.sidebar-options {
  .ctools-toggle {
    background: url(../images/collapsible-expanded.png) 50% 50% no-repeat;
  }
  .ctools-toggle-collapsed {
    background: url(../images/collapsible-collapsed.png) 50% 50% no-repeat;
  }
  h2 {
    color: $ucla-blue;
    font-size: 1.071em;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding-left: 5px;
    .facetapi-checkbox {
      vertical-align: text-bottom;
    }
    a {
      color: $ucla-dark-gray;
      vertical-align: middle;
    }
  }
  &.ctools-collapsible-container ul {
    padding-left: 22px;
  }
}
