// Blue sidebar
.page-contact,
.page-locations,
.page-news,
.page-staff,
.page-news-events,
.page-search-research-find-resources {
  .l-region--sidebar-left {
    &:before {
      background: $sidebar-bg-lt-blue !important;
    }
  }
}
.sidebar-search {
  margin: 16px 0 0;
  position: relative;
  .form-type-textfield {
    @media #{$desk-only} {
      margin-left: -13px;
      margin-right: -13px;
    }
  }
  .form-text {
    background: #fff;
    padding: 3px 6px;
    width: 100%;
    @media #{$palm-lap-only} {
      font-size: 16px;
      margin-bottom: 1em;
    }
  }
  .views-exposed-form .views-exposed-widget {
    float: none;
  }
  .views-widget-filter-search_api_views_fulltext,
  .views-widget-filter-title {
    margin: 0;
    padding: 0;
  }
  .views-widget-checkboxes {
    color: $ucla-dark-gray;
    margin-left: 5px;
    .form-checkbox {
      margin-right: .5em;
      + label {
        margin-left: -4px;
      }
    }
    @media #{$palm-lap-only} {
      margin-bottom: 1em;
    }
  }
  .views-submit-button {
    margin-left: 18px;
    position: absolute;
    right: 0;
    @media #{$desk-only} {
      right: -13px;
    }
    margin: 0;
    padding: 0;
    top: 0;
    input {
      margin: 2px !important;
    }
  }
  .form-submit {
    background: #fff url(../images/icon-search.png) 50% 55% no-repeat;
    width: 24px;
    text-indent: -99999em;
    border: none;
    line-height: normal;
  }
  .form-submit:hover,
  .form-submit:active,
  .form-submit:focus {
    background-image: url(../images/icon-search-hover.png);
  }
  .views-widget-filter-field_staff_is_subject_librarian,
  .views-reset-button {
    display: none;
  }
}
