// Ctools Collapsibles
.ctools-collapsible-container {
  .ctools-toggle {
    background: none;
    position: relative;
    float: right;
    height: 1.5em;
    width: 1.5em;
    transform: scaleY(1);
    transform-origin: center;
    transition-property: margin-top, transform;
    transition-duration: .2s, .2s;
    transition-timing-function: ease-out;

    @media #{$desk-only} {
      float: left;
      transform: rotate(180deg);
      transform-origin: center;
      transition-property: margin-top, transform;
    }

    &::before {
      content: '';
      width: 0;
      height: 0;
      margin-top: -.2em;
      margin-left: .2em;
      border-right: .8em solid transparent;
      border-left: .8em solid transparent;
      border-bottom: .8em solid #3283be;
      border-top: .8em solid transparent;
      font-size: .8em;
      position: absolute;
    }
  }

  .ctools-toggle-collapsed {
    background: none;
    transform: scaleY(-1); // Flip vertically on mobile.

    @media #{$desk-only} {
      transform: rotate(90deg);  // Rotate down on desktop.
    }
  }
}
