.pane-events-breadcrumb + .pane-node-title h1,
.pane-exhibition-breadcrumb + .pane-node-title h1,
.news-entry-title .pane-content {
  color: $ucla-gray;
  font-size: 2.286em;
  font-weight: bold;
  margin: 18px 0 0;
}
.pane-node-field-event-subtitle,
.pane-node-field-exhibition-subtitle {
  font-size: 1.286em;
  margin-bottom: 16px;
}
.news-entry-author {
  font-size: 1.286em;
}
.pane-node-field-event-date,
.pane-exhibition-date-range,
.news-entry-date {
  font-size: 1.143em;
  font-style: italic;
}
.pane-node-field-event-location,
.pane-node-field-exhibition-location {
  font-size: 1.143em;
  margin-bottom: 25px;
}
.pane-node-field-event-image {
  margin-bottom: 38px;
}
.pane-node-field-event-related-content,
.pane-node-field-exhibition-related-content {
  border-top: 1px solid $border-color;
  margin: 56px 0 40px;
  padding-top: 15px;
  h2 {
    color: $ucla-gray;
    font-size: 1.429em;
    font-weight: normal;
  }
}
/* sidebar */
.sidebar-links,
.pane-news-category-links-category-search-links,
.pane-news-category-links-panel-pane-1,
.pane-other-exhibitions,
.pane-exhibitions-highlight-exhibition-highlight-pane {
  h2 {
    font-size: 1.143em;
    font-weight: bold;
    margin: 20px 0 4px;
  }
  .views-field-field-exhibition-end {
    font-style: italic;
    margin-top: 8px;
  }
}
.pane-other-events-panel-pane-1,
.pane-related-events-panel-pane-1 {
  border-top: 1px solid $border-color;
  margin: 40px 0 40px;
  padding-top: 19px;
  h2 {
    font-size: 1.143em;
    font-weight: bold;
    margin-bottom: 26px;
  }
  .views-row {
    display: table-row;
    & > div {
      display: table-cell;
      padding: 14px 0;
      vertical-align: middle;
    }
    .views-field-field-event-date {
      padding-right: 15px;
    }
  }
  .views-row-last {
    & > div {
      padding: 14px 0 0 !important;
    }
  }
}