.pane-events-breadcrumb {
  & + .pane-node-title h1 {
    color: $ucla-gray;
    font-size: 2.286em;
    font-weight: bold;
    margin: 18px 0 0;
  }
}
.pane-node-field-event-subtitle {
  font-size: 1.286em;
  margin-bottom: 16px;
}
.pane-node-field-event-date {
  font-size: 1.143em;
  font-style: italic;
}
.pane-node-field-event-location {
  font-size: 1.143em;
  margin-bottom: 25px;
}
.pane-node-field-event-image {
  margin-bottom: 38px;
  & + .pane-horizontal-rule {
    border-bottom: 1px solid $border-color;
    margin-bottom: 35px;
    hr {
      display: none;
    }
  }
}
.pane-node-field-event-related-content {
  border-top: 1px solid $border-color;
  margin: 56px 0 40px;
  padding-top: 15px;
  h2 {
    color: $ucla-gray;
    font-size: 1.429em;
    font-weight: normal;
  }
}
.pane-node-field-event-category,
.pane-node-field-event-series,
.pane-node-field-event-audience {
  h2 {
    font-size: 1.143em;
    font-weight: bold;
    margin: 20px 0 4px;
  }
}