@media all and (min-width:1300px) {
  .front {
    .l-main-wrapper {
      background: url(../images/mol-bg.jpg) 0 0;
      position: relative;
    }
    .l-main {
      background: white;
    }
  }
}

