@media all and (min-width:1300px) {
  .front {
    .l-main-wrapper {
      position: relative;
    }
    .l-main-wrapper:before {
      background: url(../images/home-bg-left.jpg) no-repeat 0 0;
      content: "";
      position: absolute;
      left: 0;
      width: 292px;
      height: 482px;
      z-index: -1;
    }
    .l-main:before {
      background: url(../images/home-bg-right.jpg) no-repeat 0 0;
      content: "";
      position: absolute;
      right: 0;
      width: 292px;
      height: 482px;
      z-index: -1;
    }
    .l-main {
      background: white;
    }

    .pane-1 {
      /**
       * PLACEHOLDER.
       */
      .pane-content {
        background: url(../images/placeholder-start-your-research.png) no-repeat 0 0;
        height: 350px;
        margin-bottom: 20px;
        p {
          padding: 100px 0;
          text-align: center;
          font-size: 30px;
          font-weight: bold;
          text-transform: uppercase;
          color: white;
          text-shadow: 0 0 10px $ucla-dark-gray;
        }
      }
    }
  }
}

