// Blue sidebar for locations search page
.page-locations,
.page-staff {
  .l-region--sidebar-left {
    &:before {
      background: $sidebar-bg-lt-blue !important;
    }
  }
}
.sidebar-search {
  margin: 16px 0 0 -13px;
  .form-text {
    background: #fff url(../images/icon-search.png) 96% 55% no-repeat;
    border: none;
    padding: 6px 3px;
  }
  .views-widget-checkboxes,
  .views-widget-filter-field_staff_is_subject_librarian {
    color: $ucla-gray;
    margin-left: 18px;
    padding-right: 0;
  }
  .views-submit-button {
    margin-left: 18px;
    input {
      margin: 0;
    }
  }
}
.sidebar-options {
  .ctools-toggle {
    background: url(../images/collapsible-expanded.png) 50% 50% no-repeat;
  }
  .ctools-toggle-collapsed {
    background: url(../images/collapsible-collapsed.png) 50% 50% no-repeat;
  }
  h2 {
    color: $ucla-blue;
    font-size: 1.071em;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding-left: 22px;
    a {
      color: $ucla-gray;
    }
  }
}