.more-link-triangle-after {
  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-top: .4em;
    margin-left: .4em;
    border-top: .4em solid transparent;
    border-bottom: .4em solid transparent;
    border-left: .4em solid $ucla-blue;
    font-size: 0.9em;
  }
}

div.more-link > a,
a.more-link {
  color: $ucla-blue;
  @extend .more-link-triangle-after;
}

.more-link-block {
  @extend .more-link;
  background: $ucla-lt-gray;
  display: block;
  font-size: 0.875em;
  font-weight: bold;
  padding: 20px;
  text-align: left;
}