.page-hide-title {
  .pane-page-title {
    @media #{$lap-desk-only} {
      display: none;
    }
  }
  .l-region--main-column {
    @media #{$palm-only} {
      padding: 0;
    }
  }
}

.bean-news-and-events-bean {
  @media #{$lap-desk-only} {
    .grid-item:first-child {
        margin: 1em 0;
        width: 50%;
        .panel-pane {
        border-right: 1px solid $border-color;
        padding-right: 8%;
      }
    }
    .grid-item:last-child {
      margin-right: 0;
      padding-left: 1.5%;
    }
  }
  @media #{$palm-only} {
    .grid-item,
    .grid-item:nth-child(odd) {
      float: none;
      clear: none;
      width: auto;
      margin: 0;
    }
  }
  .pane-title {
    padding-right: 4.6875em;
  }
  .pane-title a {
    color: $nav-link-color;
    font-size: 1.625em;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .view-header {
    float: right;
    @media #{$palm-only} {
      display: none;
    }
    .more-link {
      margin: -66px 11px 0 0;
    }
  }
  .view-footer {
    @media #{$lap-desk-only} {
      display: none;

    }
    .more-link {
      text-align: left;
      padding: 0 11px 15px;
    }
  }
  .view-content {
    @media #{$lap-desk-only} {
      margin-top: 40px;
    }
  }
  p {
    font-size: 0.857em;
    font-style: italic;
    margin: 0;
  }
  .views-row {
    clear: both;
    overflow: hidden;
    &:hover {
      background: $ucla-lt-gray;
    }
  }
}
.bean-news-and-events-bean .is-mobile {
  .view-header {
    float: none;
    .more-link {
      margin: 0;
      text-align: left;
    }
  }
}
