.bean-news-and-events-bean {
  .grid-item:first-child {
      margin: 1em 0;
      width: 50%;
      .panel-pane {
      border-right: 1px solid $border-color;
      padding-right: 8%;
    }
  }
  .grid-item:last-child {
    margin-right: 0;
    padding-left: 1.5%;
  }
  .pane-title a {
    color: $nav-link-color;
    font-size: 1.625em;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .view-header {
    float: right;
    .more-link {
      margin: -66px 11px 0 0;
    }
  }
  .view-content {
    margin-top: 40px;
  }
  p {
    font-size: 0.857em;
    font-style: italic;
    margin: 0;
  }
  .views-row {
    clear: both;
    overflow: hidden;
    &:hover {
      background: $ucla-lt-gray;
    }
  }
}
.pane-news-events-landing-display-panel-pane-1 {
  .views-field {
    padding: 15px 11px;
    display: table-cell;
    vertical-align: middle;
  }
  .views-field-nothing {
    padding: 15px 0;
  }
  .views-field-field-exhibition-end {
    margin-right: 10px;
    min-width: 125px;
  }
  .views-field-field-event-date {
    margin-right: 14px;
  }
}
.pane-news-events-landing-display-panel-pane-2 {
  .views-row {
    margin: 0 -12px 12px;
    padding: 12px;

  }
  .views-field {
    display: block;
    padding: 2px 4px;
  }
  .views-field-field-event-thumbnail {
    padding: 4px 0 4px 4px;
    width: auto;
    display: table-cell;
    vertical-align: middle;
    min-width: 80px;
    a, img {
      display: block
    }
  }
  .views-field-field-event-thumbnail + .views-field {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0 10px 22px;
    width: auto;
  }
}
