.pane-bean-news-events-landing-page {
  .grid-item:first-child {
      margin: 1em 0;
      width: 50%;
      .panel-pane {
      border-right: 1px solid $border-color;
      padding-right: 8%;
    }
  }
  .grid-item:last-child {
    margin-right: 0;
    padding-left: 1.5%;
  }
  .pane-title a {
    color: $nav-link-color;
    font-size: 1.625em;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .view-header {
    float: right;
    .more-link {
      margin: -66px 11px 0 0;
    }
  }
  .view-content {
    font-size: 0.875em;
    margin-top: 40px;
    .views-field-field-news-image {
      float: left;
      margin-right: 18px;
    }
    .views-field-body {
      font-size: 0.857em;
    }
  }
  .pane-news-events-landing-display-panel-pane-1 {
    .views-row {
      clear: both;
      overflow: hidden;
      display: table-row;
      &:hover {
        background: $ucla-lt-gray;
      }
    }
    .views-field {
      padding: 15px 11px;
      display: table-cell;
      vertical-align: middle;
    }
    .views-field + .views-field {
      padding: 15px 0;
    }
    .views-field-field-exhibition-end,
    .views-field-field-event-date {
      float: left;
      margin-right: 14px;
    }
  }
  .pane-news-events-landing-display-panel-pane-2 {
    .views-row {
      margin-bottom: 32px;
    }
  }
}
