.page-search404 {
  .pane-page-title {
    padding-top: 40px;
  }

  .pane-page-content {
    padding: 10px 0 60px;
  }

  .search-form {
    max-width: 600px;
    margin: 30px auto 0;

    label {
      display: none;
    }

    .form-text {
      width: 100%;
      font-size: 18px;
      padding: .1em .4em;
      margin-bottom: .6em;
    }

    .form-submit {
      padding: .3em .6em;
      font-size: 16px;
    }
  }
}

#search404-page-text {
  font-size: 18px;
}
