
.sidebar-tier-1 {
  background: $sidebar-bg-lt-blue;
  margin: 0 -25px;
  padding: 24px 0 15px;
  font-weight: bold;
  font-size: 15px;
  .no-gray-sidebar-left & {
    margin: 0;
  }
  .pane-title {
    background: $ucla-blue;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 10px 8px 10px 28px;
  }
  ul {
    margin: 0;
    padding: 0 8px 0 28px;
    .leaf {
      line-height: 2.643em;
      list-style: none;
      color: $ucla-blue;
    }
  }
}

// Make two adjoined sidebar tier 1s appear as connected, by removing whitespace
// between them.
.sidebar-tier-1 + .sidebar-tier-1 {
  margin-top: -15px;
  padding-top: 0;
}

.sidebar-tier-2 {
  background: $ucla-lt-gray;
  line-height: 2.143em;
  margin: 0 -25px;
  padding: 10px 28px 11px;
  font-weight: bold;
  font-size: 13px;
  .no-gray-sidebar-left & {
    margin: 0;
  }
  .pane-title {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      a {
        color: $ucla-blue;
      }
    }
  }
}
.sidebar-tier-3 {
  color: $ucla-gray;
  font-size: 13px;
  .pane-title {
    font-size: 14px;
    font-weight: bold;
  }
}
