.pane-todays-hours.pane-style-border-blue {
  .pane-content {
    padding: 3px;
  }
}

.pane-todays-hours {
  .views-table {
    width: 100%;
    border: none;
    padding: 0;
  }
  thead {
    display: none;
  }
}
