.pane-ucla-tab-search-ucla-tab-search-tabs {
  margin-bottom: 2em;
  .vertical-tabs {
    border: none;
    margin: 1em 0 1em 13em;
    .vertical-tabs-list {
      border: none;
      margin: -1px 0 -1px -13em;
      width: 14em;
      li {
        background: $ucla-lt-gray url(../images/arr-right-yell.png) 100% 0 no-repeat;
        border: none;
        border-right: 7px solid #fff;
        margin: 4px 0;
        outline: 0 !important;
        text-align: center;
        a {
          font-size: 1.143em;
          outline: 0 !important;
          padding: 0.9em 0.2em 0.9em 0;
        }
        strong {
          font-weight: normal;
        }
        &.selected {
          background: $ucla-yellow url(../images/arr-right-yell.png) 100% 50% no-repeat;
          border-right: 7px solid #fff;
          a strong {
            color: $ucla-dark-gray;
            text-decoration: none;
          }
        }
      }
    }
    .vertical-tabs-panes {
      padding: 1em 0;
      .pane-description {
        background: url(../images/question-icon.png) 100% 0 no-repeat;
        margin: 0.4em 0 0.6em;
        strong:first-child {
          display: block;
          margin-bottom: 2px;
          padding-top: 0.4em;
        }
      }
      input[type="submit"] {
        background: #000;
        border: 0 none;
        color: #fff;
        font-weight: bold;
        padding: 4px 10px;
      }
    }
  }
}