.pane-page-title,
.pane-node-title {
  h1, h2 {
    font-size: 30px;
    font-weight: 100;
    color: $ucla-blue;
    margin: 27px 0;
    @media #{$palm-lap-only} {
      font-size: 25px;
      text-align: center;
    }
  }
}
.panel-pane.pane-page-title {
  padding-top: 5px;
}
