.pane-library-hours-panel-pane-1 {
  padding-top: 30px;
  .views-row {
    border-bottom: 1px solid $border-color;
    margin-bottom: 26px;
    padding-bottom: 30px;
    h2 {
      font-weight: 100;
      margin-top: 0;
    }
    @media (min-width: 900px) {
      .pane-linked-map {
        float: left;
        margin-right: 16px;
      }
    }
    .pane-node-field-location-building {
      padding-top: 26px;
    }
    .icon-telephone,
    .icon-email {
      clear: right;
      font-size: 0.875em;
      margin: 10px 0;
    }
    .icon-telephone:before,
    .icon-email:before {
      float: left;
      font-size: 1.429em;
      margin-right: 3px;
    }
    .panels-flexible-region-last {
      padding-top: 24px;
    }
  }
  .views-row-last {
    border-bottom: none;
  }
}
