// Opening Hours
.pane-opening-hours-table,
.views-field-opening-hours-week {
  th, td {
    text-align: center;
  }
  th {
    font-size: 14px;
    padding: 4px 5px;
    white-space: nowrap;
  }
  td.current-day {
    background: #FFFF97;
  }
  tr.odd td.current-day {
    background: $ucla-accent_color;
  }
  a {
    font-weight:400;
  }
  td[class^='day'],
  th[class^='day'] {
    width: 3.6em !important;
  }
  .current-day {
    color: $ucla-dark-gray;
  }
}

// The sticky header is broken on the views field.
// Eg on /arts/at-this-location
.views-field-opening-hours-week {
  .sticky-header {
    display: none;
  }
}

.week-selector {
  width: 146px;
  a {
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    text-indent: -9999em;
  }
}
a.previous-week {
  @extend .left-link-triangle-before;
  &:before {
    border-right: .4em solid $text-color !important;
    left: 0;
    margin-top: .15em !important;
  }
}
a.next-week {
  @extend .more-link-triangle-after;
  &:after {
    border-left: .4em solid $text-color !important;
    right: 0;
    margin-top: .15em !important;
  }
}

@media #{$opening-hours-mobile-only} {
  .pane-opening-hours-table,
  .views-field-opening-hours-week {
    &.mobile-collapsible.is-mobile {
      border: 0;
      .pane-title {
        border: 1px solid $ucla-sky-blue;
      }
    }
    .sticky-header {
      z-index: 10;
    }
    th {
      display: none;
      font-size: 18px;
      font-style: normal;
    }
    table,
    tbody,
    thead,
    tr,
    tr.odd,
    tr.even,
    td {
      background: none;
      border: 0;
      clear: both;
      display: block;
      padding: 0;
    }
    th.week-selector {
      background: #fff;
      display: block;
      margin: 0 auto;
      padding: .4em 0;
      width: 100%;
    }
    tr.odd td.current-day,
    td.current-day {
      background: #ffefc4;
    }
    td {
      border-bottom: 1px solid $opening-hours-mobile-border-color;
      color: $opening-hours-mobile-font-color;
      padding: .2em .3em;
      text-align: left;
    }
    td.title {
      border-bottom: none;
      font-weight: bold;
      font-size: 16px;
      padding: .8em 0;
    }
    td[data-label] {
      &::before {
        content: attr(data-label);
        display: block;
        float: left;
        margin-right: 1%;
        width: 39%;
      }
      &::after {
        content: '';
        display: table;
        clear: both;
        width: 100%;
        height: 0;
        padding: 0;
        margin: 0;
        border-collapse: collapse;
      }
    }
  }

  th.week-selector {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: .4em 0;
    a {
      background: $ucla-sky-blue;
    }
  }

  a.previous-week {
    margin-right: .4em;

    &::before {
      border-right-color: $ucla-blue !important;
      left: .3em;
    }
  }

  a.next-week {
    margin-left: .4em;

    &::after {
      border-left-color: $ucla-blue !important;
      right: .3em;
    }
  }
}
