.pane-ask-a-librarian {
  border-radius: 3px;
  background: $ucla-yellow;
  padding: .4em .5em .6em;
  position: relative;
  p {
    margin: 0;
    padding: 0;
  }
  a {
    @include link-colors(#fff);
    text-shadow: 0 1px 1px $ucla-gray;
    &, &:hover, &:active, &:focus {
      text-decoration: none;
    }
    span {
      font-size: 16px;
    }
  }
}
.pane-ask-a-librarian:before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 1.5em;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent $ucla-yellow transparent;
  border-width: 0 .7em .7em 0;
}
