.pane-daterangepicker-results {
  .views-row {
    margin-bottom: 2em;
    .views-field-title {
      font-size: 1.143em;
    }
    .views-field-field-event-date-2,
    .views-field-field-exhibition-end {
      font-style: italic;
    }
    .views-field-body p {
      margin: 6px 0 10px;
    }
  }
}