.pane-location-header {
  position: relative;
  .pane-node-title {
    margin: 0;
    h1 {
      margin-bottom: 0;
    }
  }
  .pane-node-field-address,
  .pane-node-field-location-phone {
    font-size: 13px;
    &, div {
      display: inline;
    }
  }
  .pane-node-field-location-phone:before {
    content: " | ";
    display: inline;
  }
  .pane-node-field-location-social-links {
    position: absolute;
    top: 0;
    right: 0;
    .field__item {
      display: inline;
    }
  }
}
