.pane-ucla-tab-search-ucla-tab-search-tabs {
  margin-bottom: 2em;
  .pane-description {
    background: url(../images/question-icon.png) 100% 0 no-repeat;
    margin: 0.4em 0 0.6em;
    strong:first-child {
      display: block;
      margin-bottom: 2px;
      padding-top: 0.4em;
    }
  }
  input[type="text"] {
    text-align: center;
    padding: 5px 10px;
    @media #{$lap-desk-only} {
      text-align: left;
      padding: 4px 8px;
    }
  }
  input[type="submit"] {
    background: #000;
    border: 0 none;
    color: #fff;
    font-weight: bold;
    margin: 0 auto;
    padding: 8px 16px;
    display: block;
    @media #{$lap-desk-only} {
      padding: 4px 10px;
      margin: 0;
    }
  }
}
