.pane-bean-link-list {
  .menu li {
    margin: 10px 0;
  }
  .field--name-field-link-description,
  .field--name-field-link-link {
    margin-right: 4px;
    &, div {
      display: inline;
    }
  }
  // 1. sneaky way to hide the triangle when there is a description
  .field--name-field-link-link a {
    @extend .more-link-triangle-after;
    color: $ucla-blue;
    &:after {
      z-index: -1; // 1.
    }
  }
  .field--name-field-link-description {
    background-color: white; // 1.
  }
  // 2. Fix the background color assigned from 1. above, when the
  // link list has the "gray background" pane style.
  &.pane-style-background-gray .field--name-field-link-description {
    background-color: $highlighted-bg-color;
  }
}
