
// Gray sidebar column uses the faux-column background solution
// by Nicholas Gallagher.
.panel-sidebar-left,
.panel-using-library {

  // Add padding and a background color. If any panes need to be
  // flush left or right, just use negative margines.
  .l-region--sidebar-left {
    padding-left: 25px;
    padding-right: 25px;
    &:before {
      background: #d7d9da;
    }
    a, p, .pane-title {
      font-weight: bold;
    }
    .sidebar-tier-1 {
      background: $sidebar-bg-lt-blue;
      margin: 0 -25px;
      padding: 24px 0 15px;
      .pane-title {
        background: $ucla-blue;
        color: #fff;
        font-size: 0.938em;
        margin: 0;
        padding: 10px 8px 10px 28px;
      }
      ul {
        margin: 0;
        padding: 0 8px 0 28px;
        li {
          line-height: 2.35em;
          list-style: none;
            a {
            color: $ucla-blue;
            font-size: 0.938em;
          }
        } 
      }      
    }
  }
}

// This body class will remove the gray left sidebar used by default, and reset
// the padding back to the original values.
// Use it on specific panel pages.
.no-gray-sidebar {
  .l-region--sidebar-left {
    padding-left: 0;
    padding-right: 20px;
    &:before {
      background: transparent;
    }
  }
}
