.pane-search-form {

}
.header-search-form-label {

}
.header-search-form-wrapper {

  .header-search-form {

  }
  .form-wrapper {

  }
  .form-type-textfield {
    margin: 1em -4px 1.3em 0;
    display: inline-block;
  }
  .form-actions {
    margin: 1em 0 1.3em;
    display: inline-block;
  }
  .form-text {
    border: none;
    background: #fff;
    padding: .5em .6em .4em;
    font-weight: 100;
  }
  .form-submit {
    background: none;
    border: none;
    @include appearance(none);
    margin: 0;
    padding: .5em .6em .4em;
    background: #fff url(../images/icon-search.png) no-repeat 50% 50%;
    text-decoration: none;
    font-weight: 100;
    text-indent: -999em;
    width: 30px;
  }
  .form-submit:hover,
  .form-submit:active,
  .form-submit:focus {
    background-image: url(../images/icon-search-hover.png);
  }
}
