.pane-location-header {
  position: relative;
  .pane-node-title {
    margin: 0;
    h1 {
      margin-bottom: 0;
      font-weight: 400;
    }
  }
	.pane-location-map-pin-map-pin-pane .icon-mappin {
		color: #666;
	}
	.pane-location-map-pin-map-pin-pane,
  .pane-node-field-address,
  .pane-node-field-location-email,
  .pane-node-field-location-phone {
    font-size: 13px;
    &, div {
      display: inline;
    }
  }
  .pane-node-field-location-phone:before {
    content: " | ";
    display: inline;
  }
  .pane-node-field-location-email:before {
    content: " | ";
    display: inline;
  }
  .pane-node-field-location-email a:link,
  .pane-node-field-location-email a:visited {
    color: #666666;
  }
  .pane-node-field-location-social-links {
    position: absolute;
    top: 0;
    right: 0;
    .field__item {
      display: inline;
    }
  }
}
