.pane-bean-news-events-showcase {
  .field-collection-container {
    border-bottom: none;
    margin-bottom: 0;
    .field--type-field-collection > div > .field__item {
      float: left;
      line-height: 1.1em;
      margin: 0 10px 0 0;
      text-align: center;
      width: 24.16%;
      & > div {
        border-bottom: none;
        padding-top: 0;
        margin: 0;
        .field--name-field-showcase-image {
          margin-bottom: 4px;
        }
        a {
          font-size: 0.875em;
        }
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}