.pane-bean-colophon-about {
  h2 {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    span {
      display: inline-block;
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      background: url('../images/logo-colophon.png') no-repeat 50% 50%;
      background-image: url('../images/logo-colophon.svg'), linear-gradient(transparent, transparent);
      width: 150px;
      height: 30px;
      vertical-align: bottom;
    }
  }
}
