.pane-bean-link-list {
  .menu li {
    margin: 10px 0;
  }
  .link-list-intro {
    margin-top: -10px;
    font-size: .9em;
    font-style: italic;
  }
  .field--name-field-link-description,
  .field--name-field-link-link {
    margin-right: .4em;
    &, div {
      display: inline;
    }
  }
  .field--name-field-link-link a {
    color: $ucla-blue;
  }
  .no-description .field--name-field-link-link {
    -ms-word-break: break-all;
    a {
      @extend .more-link-triangle-after;
      word-break: break-all;
      word-break: break-word;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }
  }
  &.is-mobile {
    .pane-content {
      background: $ucla-lt-gray;
    }
    .bean-link-list {
      padding: 0 10px;
    }
  }
}
