.pane-search-form {
  background: #2a6d9e;
  padding: 10px;
  p {
    margin: 0;
  }
  .btn-search {
    font-size: 31px;
  }
  .icon-search + span {
    display: none;
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
  }
}
.pane-search-form {
  position: relative;
}
.header-search-form-label {
  color: white;
  font-size: 31px;
  float: right;
}
.header-search-form-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 100%;
  height: 100%;
  padding: 0;
  .header-search-form {
    position: relative;
    height: 100%;
    padding: 0;
  }
  .form-wrapper {
    float: right;
    width: 0%;
    height: 100%;
    background: #2a6d9e;
    @include transition(width .3s ease-in-out);
    .is-active + & {
      width: 100%;
    }
  }
  .form-type-textfield {
    margin: .8em 10px .3em;
  }
  .form-actions {
    margin: .3em 10px .5em;
  }
  .form-text {
    border: none;
    background: #fff;
    padding: .2em .6em;
    font-weight: 100;
  }
  .form-submit {
    background: none;
    border: none;
    @include appearance(none);
    margin: 0;
    padding: 0;
    color: #fff;
    text-decoration: underline;
    font-weight: 100;
  }
}
