.pane-bean-featured-content {
  background: $highlighted-bg-color;
  margin: 0 0 1em;
  padding: 12px;
  .field--name-field-featured-thumbnail-image,
  .field--name-field-featured-link {
    display: table-cell;
    vertical-align: middle;
    img {
      display: block;
      margin-right: 10px;
    }
    .field__item {
      position: relative;
    }
    a {
      @extend .more-link-triangle-after;
      white-space: normal;
    }
  }
}