
.sidebar-tier-1 {
  background: $sidebar-bg-lt-blue;
  margin: 0 -25px;
  padding: 24px 0 15px;
  font-weight: bold;
  font-size: 15px;
  @media #{$palm-lap-only} {
    margin: 0;
  }
  .no-gray-sidebar-left & {
    margin: 0;
  }
   li,
  .pane-title {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.429em;
    //margin: 0.643em 0 1.143em;
    margin: 0;
    padding: 10px 8px 10px 28px;
    a {
      color: $ucla-blue;
      margin: -10px -8px -10px -28px;
      padding: 10px 8px 10px 28px;
      display: block;
    }
    a.active {
      background: $ucla-blue;
      color: #fff;
    }
    a.active:hover {
      text-decoration: none;
    }
  }
  // Outdent inactive pane title,
  // to insinuate hierarchy.
  .pane-title {
    a {
      padding-left: 18px;
      .active {
        padding-left: 28px;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none !important;
      li {
        padding-right: 0;
        padding-left: 18px;
        a {
          margin-right: 0;
          margin-left: -18px;
          padding-right: 0;
          padding-left: 18px;
        }
      }
    }
    ul {
      margin-top: 10px;
    }
  }

  // Staff profile (maybe others?) use link list as main sidebar-tier-1 nav
  // These styles ensure settings from pane-bean-link-list do not
  // supercede tier-1 styles.
  &.pane-bean-link-list {
    .menu {
      li {
        margin: 0;

        .field--type-link-field,
        .field__items,
        .field__item {
          display: inline-block;
        }
      }
    }
  }
}

// Make two adjoined sidebar tier 1s appear as connected, by removing whitespace
// between them.
.sidebar-tier-1 + .sidebar-tier-1 {
  @media #{$desk-only} {
    margin-top: -15px;
    padding-top: 0;
  }
  @media #{$palm-lap-only} {
    padding: 0;
    ul li {
      border-bottom: 1px solid #fff;
      a {
        padding-left: 5%;
        padding-right: 5%;
      }
    }
    ul li ul li {
      border-bottom: 0;
    }
  }
}

.sidebar-tier-2 {
  background: $ucla-lt-gray;
  line-height: 1.429em;
  margin: 0 -25px;
  padding: 10px 28px 11px;
  font-weight: bold;
  font-size: 13px;
  @media #{$palm-lap-only} {
    padding: 15px 5%;
    margin: 0;
    font-weight: normal;
    font-size: 1em;
  }
  .no-gray-sidebar-left & {
    margin: 0;
  }
  .pane-title {
    font-size: 14px;
    font-weight: bold;
    margin: 4px 0 0;
    @media #{$palm-lap-only} {
      color: $header-text-color;
      font-size: 1.125em;
      margin: 0 0 10px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      a {
        color: $ucla-blue;
      }
    }
  }
}

// Add spacing between sidebar blocks
@media #{$palm-lap-only} {
  .mobile-collapsible.is-mobile + .sidebar-tier-2 {
    margin-top: 15px;
  }
}

.sidebar-tier-3 {
  color: $ucla-dark-gray;
  font-size: 13px;
  .pane-title {
    font-size: 14px;
    font-weight: bold;
  }
}
