.l-region--top {
  .search-research-nav,
  .search-research-nav p {
    margin-top: 0;
  }
  .pane-resources-search-pane {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
    h2, p {
      margin: 0;
    }
  }
}