.cal-exhibition-date {
  min-width: 7em;
}
.cal-date {
  display: inline-block;
  margin: 0;
  padding: 2px;
  text-align: center;
  min-width: 2.7em;
  vertical-align: middle;
}
.cal-month {
  line-height: 1em;
  font-weight: bold;
}
.cal-day {
  font-size: 29px;
  font-weight: 100;
  line-height: 1em;
  @media #{$palm-only} {
    font-size: 23px;
  }
}
.cal-time {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em;
}
.date-range-separator {
  @media #{$palm-only} {
    font-size: 12px;
    vertical-align: -6px;
    font-weight: bold;
  }
}

.ui-tabs .ui-tabs-panel,
.pane-bean-upcoming-events h2 + .pane-content {
  padding: 6px;
  .view-recent-news-highlight,
  .view-upcoming-events-display {
    .view-footer {
      padding-right: 14px;
      text-align: right;
    }
  }
}

// @todo: switch this view's style to .events-teaser custom classes
.view-related-events {
  .view-content {
    clear: both;
    overflow: hidden;
    display: table;
    width: 100%;
  }
  .views-row {
    display: table-row;
    &:hover {
      background: $ucla-lt-gray;
    }
  }
  .views-field {
    padding: 10px 0 10px 22px;
    display: table-cell;
    vertical-align: middle;
    @media (max-width: 816px) {
      padding: 4px 0 4px 7px;
    }
  }
}
