.cal-date {
  display: inline-block;
  margin: 0;
  padding: 2px;
  text-align: center;
  min-width: 2.3em;
  vertical-align: middle;
}
.cal-month {
  line-height: 1em;
  font-weight: bold;
}
.cal-day {
  font-size: 29px;
  font-weight: 100;
  line-height: 1em;
}
.cal-time {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em;
}

.ui-tabs .ui-tabs-panel {
  padding: 6px;
  .view-recent-news-highlight,
  .view-upcoming-events-display {
    .view-content {
      display: table;
      width: 100%;
      .views-row {
        clear: both;
        overflow: hidden;
        display: table-row;
        &:hover {
          background: $ucla-lt-gray;
        }
      }
      .views-field {
        padding: 10px 11px;
        display: table-cell;
        vertical-align: middle;
      }
      .views-field +.views-field {
        padding: 10px 0;
      }
      .views-field-field-exhibition-end,
      .views-field-field-event-date {
        float: left;
        margin-right: 14px;
      }
    }
    a {
      color: $ucla-blue;
    }
    .view-footer {
      text-align: right;
    }
  }    
}