.view-location-image-list {
  table {
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
  }
  td {
    text-align: center;
    vertical-align: top;
    width: 50%;
  }
  .views-field-title {
    font-weight: bold;
    font-size: 16px;
  }
  .views-field {
    max-width: 280px;
    margin: 5px auto;
  }
  .views-field:last-child {
    margin-bottom: 24px;
  }
}
.views-field-field-location-image a,
.views-field-field-location-image img {
  display: inline-block;
}
